<%- include('../partials/header') %>
<center><h3 class="title is-3" style="padding: 50px;">CREATE A NEW BLOG</h3></center>
<form action="/blogs" method="POST" style="margin: auto; width: 40%;">
    <div class="field">
        <input class="input is-info" type="text" name="title" placeholder="Title" required>
    </div>
    <div class="field">
      <input class="input is-info" type="text" name="image" placeholder="Image URL">
    </div>
    <div class="field">
      <textarea class="textarea is-info" name="body" placeholder="Body"></textarea>
    </div>
    <button class="button is-info is-outlined">Create</button>
</form>
<%- include('../partials/footer') %>