<!-- footer -->
<div class="footer" style="background: rgb(77, 78, 88);">
	<div class="container">
		<div class="has-text-centered">
			<!-- nav icons -->
			<div class="nav-center">
				<a class="nav-item">
				<span class="icon">
					<i class="fa fa-twitter"></i>
				</span>
				</a>
				<a class="nav-item">
				<span class="icon">
					<i class="fa fa-facebook"></i>
				</span>
				</a>
				<a class="nav-item">
				<span class="icon">
					<i class="fa fa-github"></i>
				</span>
				</a>
			</div>
			<!-- end of nav icons -->
		</div>
	</div>
</div>

</body>
</html>