<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ankush's Blog</title>
    <!-- styles and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- end of styles and fonts -->
  </head>
  <body>
    <!-- ------------------------------------MODAL---- -->
    <div class="modal animated fadeIn" id="regmodal">
      <div class="modal-background"></div>
    <!-- ----------------------------------------
    SIGN UP AND LOGIN FORM----------------
    ---------------------------------------- -->
    <div class="modal-content" style="width: 30%;">
      <form action="/register" method="POST">
        <div class="card" style="padding-top: 20px; border-radius: 10px;">
          <div class="card-content">
          <!-- --EDIT CODE FOR SIGN UP/LOGIN FORM HERE--- -->
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
              <input class="input" type="text" name="username" placeholder="Username">
              </div>
            </div>
            
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
              <input class="input" type="password" name="password" placeholder="Password">
              </div>
            </div>
          </div>
          <footer class="card-footer">
          <p class="card-footer-item">
            <button formaction="/login" class="button is-primary is-rounded" style="width: 100%;">Login</button>
          </p>
          <p class="card-footer-item">
            <button class="button is-info is-outlined is-rounded" style="width: 100%;">Sign Up</button>
          </p>
          </footer>
        </div>
      </form>
    </div>
      <button class="modal-close is-large" aria-label="close"></button>
  </div>

