body{
    background: aliceblue;
}
.input:focus, .textarea:focus, input[type]:focus, .button:focus {
    border: 1px solid #4a4a4a;
    outline: none !important;
}

.button:focus, .pagination-next:active, .pagination-previous:active, .pagination-link:active {
    border-color: #4a4a4a;
    box-shadow: 0 0 0 #4a4a4a;
}

.input, .textarea {
    padding-top: 6px;
    padding-left: 10px;
}

/* header / hero top */
.header-wrapper {
    padding-bottom: 30px;
}

.hero-top {
    background: rgb(18,15,15);
    background: linear-gradient(90deg, rgba(18,15,15,1) 30%, rgba(26,0,48,1) 50%, rgba(18,15,15,1) 70%);
    background-repeat: no-repeat;
    box-shadow: 0 2px 3px #000;
}

/* header titles */
.header .title, .header .subtitle {
    color: whitesmoke;
}

/* hero */
.hero {
    background-color: transparent;
}

/* navigation */

/* main content */
.main-content {
    padding-top: 2rem;
}

/* box */
.box {
    padding: 30px;
}

/* content-header */
.content-header {
    padding-bottom: 10px;
}

.content-header .subtitle {
    color: #9a9a9a;
}

/* pagination */
.pagination-link.is-current, .pagination-next, .pagination-previous {
    border: 1px solid #dbdbdb;
    background-color: white;
    color: #000;
}

/* icon */
.icon {
    font-size: 1.5em;
}

.icon {
    padding: 15px;
}

/* post */
.post {
    padding-bottom: 50px;
}

.post a {
    color: #000;
}

/* footer */
.footer {
    margin-top: 2rem;
}

.footer p a {
    color: #4a4a4a;
}

.footer p a:hover {
    color: #000;
}

.footer a.nav-item:hover {
    color: #000;
}

.footer a.nav-item {
    color: #9a9a9a;
}
/* -------------------------------------------------------------------- */
.has-text-dark {
    color: hsl(0, 0%, 21%);
}

#remove-icon {
    color: rgba(196, 62, 62, 0.726);
    background: transparent;
    border: 0;
    cursor: pointer;
}
 
#remove-icon:hover {
    color: rgb(255, 0, 0);
}

.nav-item {
    padding: 10px;
    color: white;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(21, 18, 44); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
